 body{
     margin: 0;
     font-family: 'Montserrat', sans-serif;
 } 
 
 .cabecera{
     background-color:rgb(22, 13, 91) ;
     padding: 5px;
 }

.cabecera .logo{
    padding: 0;
    background-color: white;
    color:rgb(230, 8, 230);
    font-weight: bold;
    margin:10px;
}


.cabecera .logo .logo-fundacion{
    width: 45px;
}

.cabecera .menu li{
    display: inline-block;
    padding: 0 10px ;

}
.cabecera .menu li a {
	color:lightgray;
    font-size: 16px;
}

a {
    text-decoration: none;
    font-size: 14px;
}

.cabecera .menu li a:hover{
    color:rgb(230, 8, 230);
}

header .banner img{
    width: 100%;
}

body .inicio{
    padding: 3% 15%;
    text-align: center;

}

body p{
    color:dimgrey;
    font-size: 14px;
}

body .sobre-nosotros{
    padding: 0% 9%;
    background-color: rgb(211, 211, 211);
}

body .sobre-nosotros img{
    width: 50%;
}

body .sobre-nosotros #nuestra-org{
    background-color: white;
    border: 1px solid grey;
    margin: 0 0 5px;
}

body .sobre-nosotros #nuestra-org .detalle{
    padding: 50px;
    text-align: center;
}

body .sobre-nosotros #nuestra-org .detalle a{
    display: block;
    background-color: rgb(22, 13, 91);
    padding: 13px 0;
    color: white;
}

body .sobre-nosotros #nuestra-org .detalle a:hover{
    color:rgb(230, 8, 230);
}

body .sobre-nosotros #nuestra-org .detalle a:active{
    color:yellow;
}

body .sobre-nosotros #accion{
    background-color: white;
    border: 1px solid grey;
}

body .sobre-nosotros #accion .detalle{
    padding: 50px;
    text-align: center;
}

body .sobre-nosotros #accion .detalle a{
    display: block;
    background-color: rgb(22, 13, 91);
    padding: 13px 0;
    color: white;
}

body .sobre-nosotros #accion .detalle a:hover{
    color:rgb(230, 8, 230);
}

body .sobre-nosotros #accion .detalle a:active{
    color:yellow;
}

body .galeria{
    padding: 0% 9%;
}

body .galeria h2{
    padding: 25px 0px 0px;
    margin-bottom: 0;
    border-bottom: 1px solid grey;
}

body .galeria table{
    padding-left: 17%;
    width: 80%;
    margin-top: 22px;
    margin-bottom: 22px;
}

body .galeria img{
    width: 100%;
}

body .suscribirme{
    background-color:rgba(255, 0, 128, 0.99);
    padding: 20px 0;
    color: white;
    text-align: center;
}

.suscribirme h2{
    margin: 0;
    color: wheat;
}

.suscribirme .det{
    color: white;
}

.suscribirme #registrar{
    background-color:rgb(150, 8, 150);
    color: white;
    border: 0;
    padding: 5px;
    font-weight: bolder;
}

.suscribirme #registrar:hover{
    color: rgb(22, 13, 91);
    transition: 0.5s;
}

.suscribirme #registrar:active{
    color: yellow;
    transition: 0.5s;
}

body footer{
    background-color:rgb(22, 13, 91) ;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 11px;
}